body {
    background-color: #951D1D;
}

.navbar {
    background-color: #ffffff;

}

main{

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; */
}

.main-container{
     margin: 3% 3%;
     width: 100%;
     
}

.accordion{
    --bs-accordion-btn-bg: #ffdede;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: #7a1616;


}

.modal-content {
    background-color: rgb(209, 209, 209);

}

.titulo-confirm{
    color: white;
}

.modal-hidden {
    display: none;
}

.prueba{
    position: fixed;
    top: 50%;
    /* Centra verticalmente en relación con el viewport */
    left: 50%;
    /* Centra horizontalmente en relación con el viewport */
    transform: translate(-50%, -50%);
    background-color: rgb(100, 150, 150);

}

.prueba-back {
    background-color: #332c2c;

}


#errorMessage {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    color: white;
}

.oculto {
    display: none;
}