body {
    background-color: #951D1D;
}

.navbar {
    background-color: #ffffff;
}

.main-container {
    margin: 2% 1%;
}

.abm-topic {
    border-radius: 10px;
    width: 100%;
    padding: 1%;
    font-size: 14px;

}

.tabla-abm-topic {
    border: rgb(128, 128, 128) solid 0.1px;
    border-radius: 0 0 10px 10px;
}

.th-tabla {
    text-align: center;
}

.div-botones {
    margin: 1% 0%;
}

.fondo-desactivado {
    background-color: #332c2c;

}

#errorMessage {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    color: white;
}


.errorMessage {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    color: white;
}




.modal-content {
    background-color: rgb(209, 209, 209);

}

#contenido-modal-respuesta {
    background-color: rgb(192, 192, 192);

}

.checkbox-admin {
    margin: 1%;
    padding: 4% 1%;
}


/* columna de botones */
td:nth-child(8) button {
    margin: 0 0.5%;
}


/* tabla del modal de muestra de datos */


.tabla-datos-usuario th:nth-child(1),
.tabla-datos-usuario td:nth-child(1) {
    width: 30%;
    background-color: #bfc2c2;
}

.modal-footer-ver-usuario {
    display: flex;
    justify-content: space-between;
}

.filtro {
    border-radius: 10px;
}

.form-filtro {
    margin-top: 1%;
    margin-bottom: 1%;

    padding: 2%;
}

#titulo-filtro {
    margin-bottom: 2%;
}


.hidden-container {
    display: none;
}

ion-icon {
    font-size: 20px;
}


.modal-footer-ver-tema {
    display: flex;
    justify-content: space-between;
}

.btns-modal-space-between {
    display: flex;
    justify-content: space-between;
}

.td-ver-tema {
    background-color: rgb(166, 188, 255);
}


@media (max-width: 1300px) {

    .tabla-abm-topic th:nth-child(8),
    .tabla-abm-topic td:nth-child(8) {
        display: none;
    }

}

@media screen and (max-width: 950px) {

    .tabla-abm-topic th:nth-child(7),
    .tabla-abm-topic td:nth-child(7) {
        display: none;
    }
}

/* 
@media screen and (max-width: 900px) {

    .tabla-abm-usuarios th:nth-child(1),
    .tabla-abm-usuarios td:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    .tabla-abm-usuarios th:nth-child(7),
    .tabla-abm-usuarios td:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 610px) {

    .tabla-abm-usuarios th:nth-child(6),
    .tabla-abm-usuarios td:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .tabla-abm-usuarios th:nth-child(3),
    .tabla-abm-usuarios td:nth-child(3) {
        display: none;
    }

    .tabla-abm-usuarios td:nth-child(8) .btn-warning,
    td:nth-child(8) .btn-danger,
    td:nth-child(8) .btn-success {
        display: none;

    }


}


@media screen and (max-width: 450px) {

    .modal-footer {

        justify-content: center;
    }



} */

body.dt-print-view h1 {
    text-align: center;
    margin: 1em;
}