body {
    background-color: #951D1D;
}

.navbar {
    background-color: #ffffff;
}

.main-container {
    margin: 2% 1%;
}

.abm-usuarios {
    border-radius: 10px;
}

.div-botones {
    margin: 1% 0%;
}

.fondo-desactivado {
    background-color: #332c2c;

}


.modal-content {
    background-color: rgb(209, 209, 209);

}

.checkbox-admin {
    margin: 1%;
    padding: 4% 1%;
}


/* columna de botones */
td:nth-child(8) button {
    margin: 0 0.5%;
}


/* tabla del modal de muestra de datos */


.tabla-datos-usuario th:nth-child(1),
.tabla-datos-usuario td:nth-child(1) {
    width: 30%;
    background-color: #bfc2c2;
}

.modal-footer-ver-usuario {
    display: flex;
    justify-content: space-between;
}

/* .form-floating{
    margin: 1% 0%;
} */

/* .col-sm-3, .col-sm{
    padding: 1%;
    border: 0.5px solid black;

 
} */

/* .btn-group{
    padding: 1% 5%;
    width: 100%;
} */

/* 
@media screen and (max-width: 550px) {

    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }

   
} */

/* @media screen and (max-width: 600px) {

    .col2{
        display: none;
    }
}  */


@media (max-width: 1350px) {

    .tabla-abm-usuarios th:nth-child(5),
    .tabla-abm-usuarios td:nth-child(5) {
        display: none;
    }

}

@media screen and (max-width: 1050px) {

    .tabla-abm-usuarios th:nth-child(4),
    .tabla-abm-usuarios td:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 900px) {

    .tabla-abm-usuarios th:nth-child(1),
    .tabla-abm-usuarios td:nth-child(1) {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    .tabla-abm-usuarios th:nth-child(7),
    .tabla-abm-usuarios td:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 610px) {

    .tabla-abm-usuarios th:nth-child(6),
    .tabla-abm-usuarios td:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .tabla-abm-usuarios th:nth-child(3),
    .tabla-abm-usuarios td:nth-child(3) {
        display: none;
    }

    .tabla-abm-usuarios td:nth-child(8) .btn-warning,
    td:nth-child(8) .btn-danger,
    td:nth-child(8) .btn-success {
        display: none;

    }


}


@media screen and (max-width: 450px) {

    .modal-footer {
      
        justify-content: center;
    }
    /* .btns-modificar button{
        margin: 5%;
        padding: 1%;
    } */


}